/*CSS Rest
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}
/* end of CSS Reset*/

:root {
  --black: #111111;
  --white: whitesmoke;
  --gray: hsl(0, 0%, 84%);
  --lightBlack: rgb(40, 44, 53);
  --rainbow: linear-gradient(
    to right bottom,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

* {
  /* font-family: "Raleway", sans-serif; */
  /* font-family: 'Red Hat Display', sans-serif; */
  font-family: "Josefin Sans", sans-serif;
}

body {
  min-height: calc(100vh);
}
body[theme="light"] {
  background-image: var(--rainbow);
}
body[theme="dark"] {
  background-color: var(--lightBlack);
}

header {
  display: grid;
  justify-self: center;
  padding: 10px 0px 20px 0px;
}
header > h1 {
  font-size: 4rem;
  font-weight: 900;
}
h1[theme="light"] {
  color: var(--white);
  text-shadow: 6px 6px rgba(50, 20, 150, 0.3);
}
h1[theme="dark"] {
  background-image: var(--rainbow);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: 6px 6px rgba(200, 170, 200, 0.1);
}
.searchContainer {
  display: grid;
  align-self: center;
  justify-self: center;

  animation: fadein 2s;
  padding: 60px 20px 0px 2px;
  /* box-shadow: 3px 4px rgba(0, 20, 0, 0.2); */
}
.searchContainer form {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: 1fr 40px 90px;
  font-size: 1.5rem;
  color: #111111;
  font-weight: 700;
  text-align: center;
  height: 350px;
}

/* form inputs*/
form div:first-child * {
  margin: 0 0 10px 0;
}

input[type="text"] {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  padding: 15px 15px 15px 15px;
  border-radius: 5px;
  color: var(--white);
}
.fa-search {
  color: var(--white);
  font-size: 1.4rem;
  position: relative;
  top: 5px;
  right: 40px;
}
input:focus {
  outline: none;
}
input:focus::-webkit-input-placeholder {
  color: transparent;
}
input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent;
} /* IE 10+ */

input {
  width: 250px;
  text-align: center;

  /* Reset */
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input {
  font-size: 1.5rem;
}

input::placeholder {
  font-style: italic;
  color: var(--white);
  font-weight: 100;
  font-size: 1.5rem;
}

p[content="upload"] {
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: 200;
}

p[content="upload"]:hover {
  color: var(--white);
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

button[type="submit"] {
  padding: 15px 20px 15px 20px;
  border-radius: 90px;
  font-size: 1.5rem;
  font-weight: 900;

  border: none;
  background-color: var(--white);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
button[type="submit"]:hover {
  color: var(--white);
  animation: rainbowBackground 0.8s;
  -moz-animation: rainbowBackground 0.8s infinite alternate; /* Firefox */
  -webkit-animation: rainbowBackground 0.8s infinite alternate; /* Safari and Chrome */
}
button:focus {
  outline-style: none;
}

footer {
  background-color: var(--white);
}

@-moz-keyframes rainbowText /* Firefox */ {
  0% {
    color: #d16ba5;
  }
  8% {
    color: #c777b9;
  }
  16% {
    color: #ba83ca;
  }
  24% {
    color: #aa8fd8;
  }
  32% {
    color: #9a9ae1;
  }
  40% {
    color: #8aa7ec;
  }
  48% {
    color: #79b3f4;
  }
  59% {
    color: #69bff8;
  }
  75% {
    color: #52cffe;
  }
  80% {
    color: #41dfff;
  }
  90% {
    color: #46eefa;
  }
  100% {
    color: #5ffbf1;
  }
}

@-webkit-keyframes rainbowText /* Safari and Chrome */ {
  0% {
    color: #d16ba5;
  }
  8% {
    color: #c777b9;
  }
  16% {
    color: #ba83ca;
  }
  24% {
    color: #aa8fd8;
  }
  32% {
    color: #9a9ae1;
  }
  40% {
    color: #8aa7ec;
  }
  48% {
    color: #79b3f4;
  }
  59% {
    color: #69bff8;
  }
  75% {
    color: #52cffe;
  }
  80% {
    color: #41dfff;
  }
  90% {
    color: #46eefa;
  }
  100% {
    color: #5ffbf1;
  }
}
@-moz-keyframes rainbowBackground /* Firefox */ {
  0% {
    background-color: #d16ba5;
  }
  8% {
    background-color: #c777b9;
  }
  16% {
    background-color: #ba83ca;
  }
  24% {
    background-color: #aa8fd8;
  }
  32% {
    background-color: #9a9ae1;
  }
  40% {
    background-color: #8aa7ec;
  }
  48% {
    background-color: #79b3f4;
  }
  59% {
    background-color: #69bff8;
  }
  75% {
    background-color: #52cffe;
  }
  80% {
    background-color: #41dfff;
  }
  90% {
    background-color: #46eefa;
  }
  100% {
    background-color: #5ffbf1;
  }
}

@-webkit-keyframes rainbowBackground /* Safari and Chrome */ {
  0% {
    background-color: #d16ba5;
  }
  8% {
    background-color: #c777b9;
  }
  16% {
    background-color: #ba83ca;
  }
  24% {
    background-color: #aa8fd8;
  }
  32% {
    background-color: #9a9ae1;
  }
  40% {
    background-color: #8aa7ec;
  }
  48% {
    background-color: #79b3f4;
  }
  59% {
    background-color: #69bff8;
  }
  75% {
    background-color: #52cffe;
  }
  80% {
    background-color: #41dfff;
  }
  90% {
    background-color: #46eefa;
  }
  100% {
    background-color: #5ffbf1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
